/*
╔══════════════════════════════════════════════════════════════════════════════╗
║  nextflow.config  —  Metagenomics Shotgun Pipeline v2.0                      ║
║  One Singularity container per process step                                  ║
╚══════════════════════════════════════════════════════════════════════════════╝
*/

// Paràmetres globals per defecte
params {
    input  = null
    outdir = "${launchDir}/resultats"
    sif_dir = "${projectDir}/sif" 
}
 
// Configuració de l'execució
process {

    cpus   = 1
    memory = '2 GB'
    time   = '30 min'

    withName: 'SAMPLESHEET_CHECK' {
        cpus      = 1
        memory    = '1 GB'
        container = 'docker://python:3.11'
    }

    withName: 'FASTQC' {
        cpus      = 2
        memory    = '2 GB'
        container = 'community.wave.seqera.io/library/trim-galore:0.6.10--1bf8ca4e1967cd18'
    }

}

// Profiles d'execució
profiles {

    standard {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        process.queue    = 'short'
    }

    docker {
        docker.enabled = false
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }

    apptainer {
        apptainer.enabled    = true
        apptainer.autoMounts = true
    }

}

// Carpeta de treball de Nextflow (fitxers temporals)
workDir = "${launchDir}/work"
 
// Informe d'execució
report {
    enabled = true
    file    = "${params.outdir}/reports/execution_report.html"
}
 
timeline {
    enabled = true
    file    = "${params.outdir}/reports/timeline.html"
}